h3{
    text-align: center;
    font-size: 32px;
}
#cam{
    text-align: center;
}
h4{
    text-align: center;
    font-size: 25px;
}
#jam{
    align-self: center;
    background-color: blue;
    vertical-align: centre;
    color: white;
    margin: 2% 48% 1% 42%;
    height: 50px;
    width: 230px;
}


#box{
    height:1150px;
    width:100%;
    background-color: antiquewhite;
    margin-top: 0%;
    padding-top: 40px;
    padding-left: 30px;
}
.box1{
    display: inline-flex;
    height:100px;
    width:82.8%;
    margin-left: 8%;
    /* border: 1px solid black; */
}
.box2{
    height:100px;
    width:15%;
    /* margin-left: 8%; */
    border: 1px solid black;
}
.box2:hover{
    background-color:rgb(250, 201, 137) ;
    -moz-box-shadow: 0 0 10px 0 #666;
    -webkit-box-shadow: 0 0 10px 0 #666;
    box-shadow: 0 0 10px 0 #666;
}
button{
    text-decoration: none;
    border: 0cm;
    width:135px;
    background-color: antiquewhite;
    
}












.sai {
    display: flex;
    /* justify-content: space-between; */
}

.sai h1 {
    font-size: 20px;
    padding-left: 70px;
}

#c, #c1, #c2, #c3, #c4, #c5{
    background-color: inherit;
    border: none;
    font-size: 30px;
    color: rgb(87, 87, 228);
    /* padding-left: 600px; */
    padding-right: 800px;
}

#show, #show1, #show2, #show3, #show4, #show5 {
    display: none;
    padding-left: 70px;
    padding-right: 1000px;
}
#foot {
    /* background-color: rgb(239, 239, 248); */
    width: 150%;
    height: 600px;
}

#foot h2 {
    text-align: center;
    padding-right: 678px;
    font-size: 70px;
}